.venv/
.env
.DS_Store
.pytest_cache/
.mypy_cache/
.ruff_cache/
__pycache__/
*.pyc
test-results/
playwright-report/
node_modules/
reports/*
!reports/api/
!reports/ui/
!reports/performance/
reports/api/*
reports/ui/*
reports/performance/*
!reports/api/.gitkeep
!reports/ui/.gitkeep
!reports/performance/.gitkeep
coverage.xml
.coverage
